.Card{
    height:190px;
    width:247px;
    border: 2px solid black;
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    /* margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 35px;
    margin-right: 35px; */
}
.imgPart{
    height: 35%;
}
.imgPart img{
    height: 100%;
    width: 100%;
    border-radius: 9px;
}
.descriptionPart h1{
    font-size: medium;
}
.h1{
    display: flex;
    justify-content: center;
}
.p{
    display: flex;
    justify-content: center;
}